@use '../presets' as *;
@use '../mixins' as *;

.navbar {
  margin-bottom: 142px;
  @include mobile {
    margin-bottom: 100px;
  }

&__list {
  display: flex;
  gap: 25px;
  margin-left: -0.75em;
  flex-wrap: wrap;
}

&__link {
  display: block;
  letter-spacing: $letters-spacing;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  @include laptop {
    font-size: 15px;
  }
  @include mobile {
    font-size: 14px;
  }
}

&--active {
  color: $color-primary;
  font-weight: 500;
}
}